html {
    scroll-padding: 130px;

}

body {
    background-color: bisque;

}

#RI,
#EE,
#AIE,
#TK {
    float: left;
    margin-left: 50px;
    margin-top: 10px;


}

ul {
    list-style-type: none;

}

li div {
    display: inline-block;

}

a {
    color: black;
}

.topnav {
  

    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    background-color: rgb(255, 166, 0);
    border: 1px solid ;
    width: max-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}


@media only screen and (min-width:920px) {
   
    .topnav{
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 50px;
        position: sticky;
        top:0;
        justify-content: left;
        width: auto;

    }

}

h1 {

    font-size: 30px;
    text-align: center;

}

h2 {
    font-size: 20px;
    text-align: center;
}




.wrapper {
    display: grid;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-rows: 110px;
    grid-template-columns: repeat(auto-fit, 200px);
}



.redovni {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.izborni {
    border: 2px solid black;
    padding: 10px;
    background-color: powderblue;
}

.sivi {
    border: 2px solid black;
    padding: 10px;
    background-color: gray;
}

img {
    height: 40px;
    width: 40px;
}