h1 {
    font-style: bold;
    padding-left: 2px;
    margin: 30px;

}

h2,h3 {
    font-size: 20px;
    padding-left: 2px;
    margin: 30px;
}

table {
  
    border-collapse: collapse;
    width: 80%;
    margin: 30px;

}

td, th {
    border: 1px solid black;
    padding: 8px;
}

td{
    height: 50px;
    text-align: center;
}

th{
    height: 50px;
    text-align: left;
    vertical-align: top;
}

.prisutan {
    background-color: lightgreen;
}

.odsutan {
    background-color: red;
}
.zadnja{
    width: 40%;
}

.sedma{
    text-align: center;
    width: 20px;
}
